.Wholepage {
  color: black;
  margin: 1% 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.01% 0%;
  background-color: white;
  overflow: scroll;
  height: 94vh;
}
html {
  background-color: #858C9B;
}

           

